@CHARSET "EUC-KR";
p{ color:blue;
text-align: center;
}
.text2{
font-style: italic;}
#text1{
font-weight: bold;}
h1,h3{
text-decoration: underline;}
h1{
text-align : center;
background-color: yellow;
border: 2px solid;
}
h3{
color:pink;
text-align: right;
}